--- CREAR UN AGENTE DE IA CON LANGCHAIN ---
Instalación de librerías:

pip install --upgrade --quiet sqlalchemy langchain langchain-community langchain-openai pandas python-dotenv

CARGAR DATOS CSV

In [16]:
import pandas as pd
# cargar csv en pandas
df = pd.read_csv("Amazon Sale Report.csv") 
print(df.head(7))

C:\Users\ander\AppData\Local\Temp\ipykernel_15732\1436979351.py:3: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Amazon Sale Report.csv")

   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped
5      5  404-1490984-4578765  04-30-22                       Shipped
6      6  408-5748499-6859555  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL
5     Amazon      Amazon.in          Expedited   SET264  SET264-KR-NP-XL
6     Amazon      Amazon.in          Expedited    J0095      J0095-SET-L

        Category  ... currency  Amount    ship-city     ship-state  \
0            Set  ...      INR  647.62       MUMBAI    MAHARASHTRA
1          kurta  ...      INR  406.00    BENGALURU      KARNATAKA
2          kurta  ...      INR  329.00  NAVI MUMBAI    MAHARASHTRA
3  Western Dress  ...      INR  753.33   PUDUCHERRY     PUDUCHERRY
4            Top  ...      INR  574.00      CHENNAI     TAMIL NADU
5            Set  ...      INR  824.00    GHAZIABAD  UTTAR PRADESH
6            Set  ...      INR  653.00   CHANDIGARH     CHANDIGARH

  ship-postal-code  ship-country  \
0         400081.0            IN
1         560085.0            IN
2         410210.0            IN
3         605008.0            IN
4         600073.0            IN
5         201102.0            IN
6         160036.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0                                                NaN  False     Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True           NaN
3                                                NaN  False     Easy Ship
4                                                NaN  False           NaN
5       IN Core Free Shipping 2015/04/08 23-48-5-108  False           NaN
6       IN Core Free Shipping 2015/04/08 23-48-5-108  False           NaN

  Unnamed: 22
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN

[7 rows x 24 columns]

In [17]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [18]:
df["Category"]

0                   Set
1                 kurta
2                 kurta
3         Western Dress
4                   Top
              ...
128970            kurta
128971              Set
128972    Western Dress
128973              Set
128974              Set
Name: Category, Length: 128975, dtype: object

In [19]:
df.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

In [20]:
# manejo de valores nulos
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [21]:
# rellenar con ceros y texto
value_replace = {
    col: 0 if df[col].dtype in ["int64", "float64"] else "Sin registro" for col in df.columns
}
value_replace

{'index': 0,
 'Order ID': 'Sin registro',
 'Date': 'Sin registro',
 'Status': 'Sin registro',
 'Fulfilment': 'Sin registro',
 'Sales Channel ': 'Sin registro',
 'ship-service-level': 'Sin registro',
 'Style': 'Sin registro',
 'SKU': 'Sin registro',
 'Category': 'Sin registro',
 'Size': 'Sin registro',
 'ASIN': 'Sin registro',
 'Courier Status': 'Sin registro',
 'Qty': 0,
 'currency': 'Sin registro',
 'Amount': 0,
 'ship-city': 'Sin registro',
 'ship-state': 'Sin registro',
 'ship-postal-code': 0,
 'ship-country': 'Sin registro',
 'promotion-ids': 'Sin registro',
 'B2B': 'Sin registro',
 'fulfilled-by': 'Sin registro',
 'Unnamed: 22': 'Sin registro'}

--- CARGAR CSV EN BASE DE DATOS SQLITE ---

In [22]:
import sqlite3 
from sqlalchemy import create_engine

# crear un motor de base de datos SQLite con SQLAlchemy
engine = create_engine("sqlite:///Amazon_sale_Report.db")

df.to_sql("ventas_amazon", engine, if_exists="replace", index=False)

128975

--- CREACIÓN DE AGENTE PARA INTERACTUAR CON LA BASE DE DATOS SQL ---

In [23]:
# importar dotenv para cargar varibles de entorno
from dotenv import load_dotenv
import os

from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI

# load variables de entorno desde el archivo .env.txt
load_dotenv()

# conectar el agente langchain con la base de datos SQL 
db = SQLDatabase(engine=engine)

# Instanciar el LLM
llm = ChatOpenAI(model="gpt-4o", temperature=0, openai_api_key=os.getenv("OPENAI_API_KEY"))  

# crear agente
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=False)

--- CONSULTA DE DATOS ---

In [24]:
response = agent_executor.invoke({"input":"¿Cuántas categorías hay en total en el df? Muestrame en nombre de cada categoría"})
print(response["output"])

Hay un total de 9 categorías distintas en el conjunto de datos. Los nombres de las categorías son:

1. Set
2. Kurta
3. Western Dress
4. Top
5. Ethnic Dress
6. Bottom
7. Saree
8. Blouse
9. Dupatta

In [25]:
# verificación cruzada

num_category = df["Category"].unique().tolist()
print("Categorias únicas:", num_category)

Categorias únicas: ['Set', 'kurta', 'Western Dress', 'Top', 'Ethnic Dress', 'Bottom', 'Saree', 'Blouse', 'Dupatta']

In [26]:
response = agent_executor.invoke({"input":"¿Cuáles son las tallas más vendidas por categoría?"})
print(response["output"])

Here are the most sold sizes by category:

- **Blouse**:
  - Free: 211 units
  - M: 138 units
  - S: 128 units
  - L: 128 units
  - XXL: 117 units
  - XL: 116 units
  - XS: 25 units

- **Bottom**:
  - S: 67 units
  - L: 67 units
  - XXL: 64 units

These are the top-selling sizes for each category based on the available data.

In [27]:
# verificación cruzada
counts = df.groupby(["Category","Size"]).size()
counts = counts.reset_index(name="Total")
counts = counts.sort_values(["Category", "Size"], ascending=[True,False])
print(counts)

         Category  Size  Total
6          Blouse   XXL    124
5          Blouse    XS     28
4          Blouse    XL    133
3          Blouse     S    140
2          Blouse     M    154
1          Blouse     L    136
0          Blouse  Free    211
13         Bottom   XXL     74
12         Bottom    XS     28
11         Bottom    XL     71
10         Bottom     S     74
9          Bottom     M     58
8          Bottom     L     71
7          Bottom   3XL     64
14        Dupatta  Free      3
21   Ethnic Dress   XXL    157
20   Ethnic Dress    XS     88
19   Ethnic Dress    XL    194
18   Ethnic Dress     S    176
17   Ethnic Dress     M    180
16   Ethnic Dress     L    192
15   Ethnic Dress   3XL    172
22          Saree  Free    164
32            Set   XXL   6168
31            Set    XS   5506
30            Set    XL   7572
29            Set     S   7512
28            Set     M   9347
27            Set     L   8194
26            Set   6XL     81
25            Set   5XL     61
24            Set   4XL     48
23            Set   3XL   5795
39            Top   XXL   1797
38            Top    XS    949
37            Top    XL   1855
36            Top     S   1238
35            Top     M   1825
34            Top     L   1774
33            Top   3XL   1184
46  Western Dress   XXL   2118
45  Western Dress    XS   1431
44  Western Dress    XL   2379
43  Western Dress     S   2225
42  Western Dress     M   2587
41  Western Dress     L   2845
40  Western Dress   3XL   1915
56          kurta   XXL   7658
55          kurta    XS   3131
54          kurta    XL   8672
53          kurta     S   5725
52          kurta     M   8560
51          kurta     L   8920
50          kurta   6XL    657
49          kurta   5XL    489
48          kurta   4XL    379
47          kurta   3XL   5686

In [28]:
# crear Agente con Verbose=True
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)
response = agent_executor.invoke({"input":"¿Cual es el total de ganancias por cada categoría?"})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


ventas_amazon
Invoking: `sql_db_schema` with `{'table_names': 'ventas_amazon'}`



CREATE TABLE ventas_amazon (
	"index" BIGINT,
	"Order ID" TEXT,
	"Date" TEXT,
	"Status" TEXT,
	"Fulfilment" TEXT,
	"Sales Channel " TEXT,
	"ship-service-level" TEXT,
	"Style" TEXT,
	"SKU" TEXT,
	"Category" TEXT,
	"Size" TEXT,
	"ASIN" TEXT,
	"Courier Status" TEXT,
	"Qty" BIGINT,
	currency TEXT,
	"Amount" FLOAT,
	"ship-city" TEXT,
	"ship-state" TEXT,
	"ship-postal-code" FLOAT,
	"ship-country" TEXT,
	"promotion-ids" TEXT,
	"B2B" BOOLEAN,
	"fulfilled-by" TEXT,
	"Unnamed: 22" BOOLEAN
)

/*
3 rows from ventas_amazon table:
index	Order ID	Date	Status	Fulfilment	Sales Channel 	ship-service-level	Style	SKU	Category	Size	ASIN	Courier Status	Qty	currency	Amount	ship-city	ship-state	ship-postal-code	ship-country	promotion-ids	B2B	fulfilled-by	Unnamed: 22
0	405-8078784-5731545	04-30-22	Cancelled	Merchant	Amazon.in	Standard	SET389	SET389-KR-NP-S	Set	S	B09KXVBD7Z	None	0	INR	647.62	MUMBAI	MAHARASHTRA	400081.0	IN	None	False	Easy Ship	None
1	171-9198151-1101146	04-30-22	Shipped - Delivered to Buyer	Merchant	Amazon.in	Standard	JNE3781	JNE3781-KR-XXXL	kurta	3XL	B09K3WFS32	Shipped	1	INR	406.0	BENGALURU	KARNATAKA	560085.0	IN	Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal	False	Easy Ship	None
2	404-0687676-7273146	04-30-22	Shipped	Amazon	Amazon.in	Expedited	JNE3371	JNE3371-KR-XL	kurta	XL	B07WV4JV4D	Shipped	1	INR	329.0	NAVI MUMBAI	MAHARASHTRA	410210.0	IN	IN Core Free Shipping 2015/04/08 23-48-5-108	True	None	None
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT Category, SUM(Amount) as Total_Ganancias FROM ventas_amazon GROUP BY Category ORDER BY Total_Ganancias DESC LIMIT 10;'}`


```sql
SELECT Category, SUM(Amount) as Total_Ganancias FROM ventas_amazon GROUP BY Category ORDER BY Total_Ganancias DESC LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': 'SELECT Category, SUM(Amount) as Total_Ganancias FROM ventas_amazon GROUP BY Category ORDER BY Total_Ganancias DESC LIMIT 10;'}`


[('Set', 39204124.03), ('kurta', 21299546.7), ('Western Dress', 11216072.69), ('Top', 5347792.3), ('Ethnic Dress', 791217.66), ('Blouse', 458408.18), ('Bottom', 150667.98), ('Saree', 123933.76), ('Dupatta', 915.0)]Aquí están las ganancias totales por cada categoría, ordenadas de mayor a menor:

1. **Set**: 39,204,124.03
2. **Kurta**: 21,299,546.70
3. **Western Dress**: 11,216,072.69
4. **Top**: 5,347,792.30
5. **Ethnic Dress**: 791,217.66
6. **Blouse**: 458,408.18
7. **Bottom**: 150,667.98
8. **Saree**: 123,933.76
9. **Dupatta**: 915.00

Estas cifras representan las ganancias totales en la moneda especificada en la base de datos.

> Finished chain.

In [29]:
agent_executor = create_sql_agent(llm,db=db, agent_type="openai-tools", verbose=True)
response= agent_executor.invoke({"input":"¿Cuál es la Tasa de Éxito por Fulfillment?"})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


ventas_amazon
Invoking: `sql_db_schema` with `{'table_names': 'ventas_amazon'}`



CREATE TABLE ventas_amazon (
	"index" BIGINT,
	"Order ID" TEXT,
	"Date" TEXT,
	"Status" TEXT,
	"Fulfilment" TEXT,
	"Sales Channel " TEXT,
	"ship-service-level" TEXT,
	"Style" TEXT,
	"SKU" TEXT,
	"Category" TEXT,
	"Size" TEXT,
	"ASIN" TEXT,
	"Courier Status" TEXT,
	"Qty" BIGINT,
	currency TEXT,
	"Amount" FLOAT,
	"ship-city" TEXT,
	"ship-state" TEXT,
	"ship-postal-code" FLOAT,
	"ship-country" TEXT,
	"promotion-ids" TEXT,
	"B2B" BOOLEAN,
	"fulfilled-by" TEXT,
	"Unnamed: 22" BOOLEAN
)

/*
3 rows from ventas_amazon table:
index	Order ID	Date	Status	Fulfilment	Sales Channel 	ship-service-level	Style	SKU	Category	Size	ASIN	Courier Status	Qty	currency	Amount	ship-city	ship-state	ship-postal-code	ship-country	promotion-ids	B2B	fulfilled-by	Unnamed: 22
0	405-8078784-5731545	04-30-22	Cancelled	Merchant	Amazon.in	Standard	SET389	SET389-KR-NP-S	Set	S	B09KXVBD7Z	None	0	INR	647.62	MUMBAI	MAHARASHTRA	400081.0	IN	None	False	Easy Ship	None
1	171-9198151-1101146	04-30-22	Shipped - Delivered to Buyer	Merchant	Amazon.in	Standard	JNE3781	JNE3781-KR-XXXL	kurta	3XL	B09K3WFS32	Shipped	1	INR	406.0	BENGALURU	KARNATAKA	560085.0	IN	Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal	False	Easy Ship	None
2	404-0687676-7273146	04-30-22	Shipped	Amazon	Amazon.in	Expedited	JNE3371	JNE3371-KR-XL	kurta	XL	B07WV4JV4D	Shipped	1	INR	329.0	NAVI MUMBAI	MAHARASHTRA	410210.0	IN	IN Core Free Shipping 2015/04/08 23-48-5-108	True	None	None
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT Fulfilment, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM ventas_amazon) AS SuccessRate FROM ventas_amazon WHERE Status = 'Shipped - Delivered to Buyer' GROUP BY Fulfilment LIMIT 10;"}`


```sql
SELECT Fulfilment, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM ventas_amazon) AS SuccessRate
FROM ventas_amazon
WHERE Status = 'Shipped - Delivered to Buyer'
GROUP BY Fulfilment
LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': "SELECT Fulfilment, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM ventas_amazon) AS SuccessRate FROM ventas_amazon WHERE Status = 'Shipped - Delivered to Buyer' GROUP BY Fulfilment LIMIT 10;"}`


[('Merchant', 22.305873231246366)]La Tasa de Éxito por Fulfillment para los pedidos que fueron "Enviados y Entregados al Comprador" por el método de cumplimiento "Merchant" es aproximadamente del 22.31%.

> Finished chain.

In [30]:
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)
response = agent_executor.invoke({"input":"¿Cuánta es la ganancia por estado?"})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


ventas_amazon
Invoking: `sql_db_schema` with `{'table_names': 'ventas_amazon'}`



CREATE TABLE ventas_amazon (
	"index" BIGINT,
	"Order ID" TEXT,
	"Date" TEXT,
	"Status" TEXT,
	"Fulfilment" TEXT,
	"Sales Channel " TEXT,
	"ship-service-level" TEXT,
	"Style" TEXT,
	"SKU" TEXT,
	"Category" TEXT,
	"Size" TEXT,
	"ASIN" TEXT,
	"Courier Status" TEXT,
	"Qty" BIGINT,
	currency TEXT,
	"Amount" FLOAT,
	"ship-city" TEXT,
	"ship-state" TEXT,
	"ship-postal-code" FLOAT,
	"ship-country" TEXT,
	"promotion-ids" TEXT,
	"B2B" BOOLEAN,
	"fulfilled-by" TEXT,
	"Unnamed: 22" BOOLEAN
)

/*
3 rows from ventas_amazon table:
index	Order ID	Date	Status	Fulfilment	Sales Channel 	ship-service-level	Style	SKU	Category	Size	ASIN	Courier Status	Qty	currency	Amount	ship-city	ship-state	ship-postal-code	ship-country	promotion-ids	B2B	fulfilled-by	Unnamed: 22
0	405-8078784-5731545	04-30-22	Cancelled	Merchant	Amazon.in	Standard	SET389	SET389-KR-NP-S	Set	S	B09KXVBD7Z	None	0	INR	647.62	MUMBAI	MAHARASHTRA	400081.0	IN	None	False	Easy Ship	None
1	171-9198151-1101146	04-30-22	Shipped - Delivered to Buyer	Merchant	Amazon.in	Standard	JNE3781	JNE3781-KR-XXXL	kurta	3XL	B09K3WFS32	Shipped	1	INR	406.0	BENGALURU	KARNATAKA	560085.0	IN	Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal	False	Easy Ship	None
2	404-0687676-7273146	04-30-22	Shipped	Amazon	Amazon.in	Expedited	JNE3371	JNE3371-KR-XL	kurta	XL	B07WV4JV4D	Shipped	1	INR	329.0	NAVI MUMBAI	MAHARASHTRA	410210.0	IN	IN Core Free Shipping 2015/04/08 23-48-5-108	True	None	None
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT "ship-state", SUM("Amount") as total_ganancia FROM ventas_amazon GROUP BY "ship-state" ORDER BY total_ganancia DESC LIMIT 10;'}`


```sql
SELECT "ship-state", SUM("Amount") as total_ganancia FROM ventas_amazon GROUP BY "ship-state" ORDER BY total_ganancia DESC LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': 'SELECT "ship-state", SUM("Amount") as total_ganancia FROM ventas_amazon GROUP BY "ship-state" ORDER BY total_ganancia DESC LIMIT 10;'}`


[('MAHARASHTRA', 13335534.14), ('KARNATAKA', 10481114.37), ('TELANGANA', 6916615.65), ('UTTAR PRADESH', 6816642.08), ('TAMIL NADU', 6515650.11), ('DELHI', 4235215.97), ('KERALA', 3830227.58), ('WEST BENGAL', 3507880.44), ('ANDHRA PRADESH', 3219831.72), ('HARYANA', 2882092.99)]Las ganancias por estado son las siguientes:

1. Maharashtra: 13,335,534.14
2. Karnataka: 10,481,114.37
3. Telangana: 6,916,615.65
4. Uttar Pradesh: 6,816,642.08
5. Tamil Nadu: 6,515,650.11
6. Delhi: 4,235,215.97
7. Kerala: 3,830,227.58
8. West Bengal: 3,507,880.44
9. Andhra Pradesh: 3,219,831.72
10. Haryana: 2,882,092.99

Estas cifras representan las ganancias totales por estado.

> Finished chain.